# .env file for the github.com/majo48/arena-git application
# copy this file to .env (in same folder) and edit fq/path/name

# filenames (fqn)
LOG_FILENAME=/fq/path/name/arena-git/build/arena.log
DB_FILENAME=/fq/path/name/arena-git/build/arena.db

# folder name ending with slash
TILE_FOLDER=/fq/path/name/arena-git/build/tiles/

# geo coordinates of the bounding box (NORTH > SOUTH, EAST > WEST)
ARENA_NORTH=48.000
ARENA_SOUTH=47.000
ARENA_WEST=8.000
ARENA_EAST=9.000